
#file da ignorare sono gli eseguibili che dipendono dal tipo di compilatore
#i vari file di testo generati dai programmi

build/*.txt
build/*.exe
build/*.json
build/Makefile
build/*.a
build/Scacchiera
build/Replay

#editor di testo

.vscode

